snippet modtest "Create tests module" b
#[cfg(test)]
mod tests {
	#[test]
	fn ${1:test_fn}() {
		$2
	}
}
endsnippet

snippet test "Create test function" b
#[test]
fn ${1:test_fn}() {
	$2
}
endsnippet

snippet leetcode "Template for LeetCode" b
struct Solution {}
impl Solution {
	pub fn ${1:solve}($2)${3: -> X} {
		$4
	}
}

fn main() {
	$5
}
endsnippet
